form{
	width: 1200px;
	margin: 0px auto;
	font-family: "微软雅黑";
	font-size: 15px;
}
.body_z{
	width: 950px;
	border: 1px solid gainsboro;
	border-radius: 10px;
	margin: 0px auto;
	overflow: hidden;
}
.body2_z{
	margin-left: 25px;
	overflow: hidden;
	margin-right: 25px;
	margin-top: 30px;
}
.top_z{
	background-color: ghostwhite;
	border: 0.5px solid gainsboro;
	border-radius: 10px;
	height: 40px;
}
.top_z h4{
	margin-left: 60px;
	margin-top: 10px;
	color: blueviolet;
}
.left_z{
	margin-top: 10px;
	border: 0.5px solid gainsboro;
	border-radius: 1px;
	width:28%;
	height: 666px;
	background-color: ghostwhite;
	border-radius: 5px;
	float: left;
	overflow: hidden;
}
.top_search_z{
	padding-left: 20px;
}
.searchtime{
	margin-left: 15px;
	float: left;
	line-height: 30px;
}
.sidesort{
	line-height: 30px;
	margin-top: 35px;
}
.body_main_z{
	float: right;
	width: 70%;
	border: 0.5px solid gainsboro;
	border-radius: 5px;
	margin-top: 10px;
	background-color: ghostwhite;
	height: 666px;
}
.body_main2_z{
	margin-top: 30px;
	margin-left: 10px;
}
.house_z{
	position: relative;
}
.image1_z{
	background-image: url(../img/img_B/bg_back.gif);
	width: 108px;
	height: 25px;
	float: left;
}
.image2_z{
	background-image: url(../img/img_B/bg_back.gif);
	width: 108px;
	height: 25px;
	float: right;
}
a{
	text-decoration: none;
}
table td img:hover{
	transform: translate(0px,-2px);
	box-shadow: 10px 10px 50px rgba(0,0,0,0.3);
}
